ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 28, 115);
    margin-top: -10px;
    margin-right: -8px;
    margin-left: -10px;
}

ul.bins {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(73, 0, 190);
    margin-top: -10px;
    margin-right: -8px;
    margin-left: -10px;
}

.bins {
    user-select: none;
}

li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.2s;
    float: left;
}

.stats {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.2s;
    float: right;
}

li:hover {
    background-color: rgb(255, 183, 75);
}

.presb {
    animation: glowing 500ms infinite;
    width: 400px;
    height: 200px;
}

body {
    background-color: crimson;
    color: white;
}

@keyframes glowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 10px #49e819;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
}
