ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(80, 82, 115);
    margin-top: -10px;
    margin-right: -8px;
    margin-left: -10px;
}

ul.nav1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(80, 82, 115);
    margin-top: -10px;
    margin-right: -8px;
    margin-left: -10px;
}

ul.bins0 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(105, 60, 54);
    margin-top: -10px;
    margin-right: -8px;
    margin-left: -10px;
    user-select: none;
}

ul.bins1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(171, 55, 55);
    margin-top: -10px;
    margin-right: -8px;
    margin-left: -10px;
    user-select: none;
}

ul.bins2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(224, 134, 74);
    margin-top: -10px;
    margin-right: -8px;
    margin-left: -10px;
    user-select: none;
}

ul.bins3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(245, 108, 119);
    margin-top: -10px;
    margin-right: -8px;
    margin-left: -10px;
    user-select: none;
}

ul.bins4 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(150, 212, 91);
    margin-top: -10px;
    margin-right: -8px;
    margin-left: -10px;
    user-select: none;
}

ul.bins5 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(158, 72, 145);
    margin-top: -10px;
    margin-right: -8px;
    margin-left: -10px;
    user-select: none;
}

li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.2s;
    float: left;
}

.stats {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.2s;
    float: right;
}

.stats1 {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.2s;
    float: right;
}

.generlist {
    text-align: left;
}


li:hover {
    background-color: rgb(245, 214, 120);
}

.presb {
    animation: glowing 500ms infinite;
    width: 200px;
    height: 100px;
    font-size: 30px;
}

body {
    background-color: rgb(247, 181, 82);
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.tcolor {
    color: black;
}

.tcolor th {
    height: 100px;
    width: 100px;
}

@keyframes glowing {
    0% {
        background-color: #2ba805;
        box-shadow: 0 0 3px #2ba805;
    }

    50% {
        background-color: #49e819;
        box-shadow: 0 0 10px #49e819;
    }

    100% {
        background-color: #2ba805;
        box-shadow: 0 0 3px #2ba805;
    }
}

.closebtn {
    margin-left: 15px;
    /* position: absolute; */
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert {
    /* position: absolute; */
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.ach {
    /* position: absolute; */
    padding: 20px;
    background-color: #00c070;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.closebtn:hover {
    color: black;
}

.acheive {
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(255, 200, 118);
    border: 1px solid #ddd;
    padding: 8px;
}

.acheive th {
    transition-duration: 0.2s;
}

.acheive th:hover {
    background-color: rgb(255, 226, 96);
}

.acheive tr:nth-child(even) {
    background-color: #fff6d6;
}

.acheive button {
    /* background-color: #fff6d6; */
    border-radius: 3px;
    width: 100%;
    transition-duration: 0.2s;
}

.acheive button:hover {
    background-color: rgb(255, 226, 96);
}

.active {
    background-color: #2a8672;
    color: #160000;
}

hr {
    border: 7px solid #505273;
    margin: 30px -8px 6px;
    background-color: #505273;
    /* border-radius: 5px; */
}

button {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(105, 60, 54, 0.521);
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    border-style: groove;
    transition-duration: 0.2s;
}

button:hover {
    background-color: rgb(245, 214, 120);
}

#alertBoxs {
    z-index: 99 !important;position: absolute;
}