ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 28, 115);
    margin-top: -10px;
    margin-right: -8px;
    margin-left: -10px;
}

ul.bins {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(73, 0, 190);
    margin-top: -10px;
    margin-right: -8px;
    margin-left: -10px;
}

.bins {
    user-select: none;
}

li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.2s;
    float: left;
}

.stats {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.2s;
    float: right;
}

li:hover {
    background-color: rgb(255, 183, 75);
}

body {
    background-color: crimson;
    color: white;
}